*{
    padding: 0;
    margin: 0;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*ENCABEZADO*/ 

#encabezado{
    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    padding: 30px;
    padding-left: 70px;
    margin: 0;
}
.titulo{
 
    padding-top: 2cm;
    padding-bottom: 2cm;

font-size: 50px;

}
h1:hover{
    color: red;
    transition-duration: 2s;
} 
.a9{
    padding: 5px;
}
.a9:hover{
    transform: scale(1.5);
    transition-duration: 5s;
}
.accordion-item{
    margin: 1cm;
    margin-left:1cm ;
    margin-right: 1cm;
}
.redessociales1{
    margin-left: 15%;
    margin-top: 10%;

}


/*MENU*/
.navbar{
    margin: 0cm;
}


/*footer*/
footer{
height: 100%;
    padding: 0;
    padding-bottom: 0%;
    margin-bottom: 0;
    background-color: #191919;
    color: white;
    font-size: 20px;
}
footer div p{
    font-family: Arial, Helvetica, sans-serif;
}
.footergrids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "info logofooter mensajefooter" ;
    text-align: center;
    }
    #info{
        grid-area: info;
        margin-top: 1cm;
    }
    #logofooter{
        margin-top: 10%;
        grid-area: logofooter;
    }
#mensajefooter{
    grid-area: mensajefooter;
    padding-top: 25px;
    margin-right: 1cm;
}
h2{
    padding: 10px;}

.derechos{
font-size: small;
font-family: Arial, Helvetica, sans-serif;
color: #646464;
margin-bottom: -1cm;
}
footer{
    color: #646464;
}
h2:hover{
    color: white;
    text-decoration: underline rgb(255, 255, 255);
}

#info:hover{
color: white;
}
.redessociales{
    margin: 10px;
    margin-left: -1cm;
    }
    .a99{
        margin-left: 1cm ;
    }
    .a99:hover{
        transform: scale(1.5);
        transition-duration: 5s;
    }

/*historia*/
.videohistoria{
    display: flex;
    margin: 2%;
}
.escudos{
    margin-top: 6cm;
    margin-bottom: 1cm;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
div p {
    text-align: auto;
}

.historia{ 
    border: 5px solid red ;
    margin: 60px;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        
    }
    /*home*/
    .imgg2{
        margin: 2%;
    }
    .containerhome{
        display: grid;
        height: 100%;
        grid-template-columns: 20% 60% 20% ;
     
        grid-template-rows: 1fr 1fr ;
        grid-template-areas: 
        "sidebar contenido1 sidebar2 "
        "sidebar contenido2 sidebar2"
        "sidebar contenido3 sidebar2";
        grid-gap: 1px;
        font-weight: 800;
        font-size: 15px;
        color: red;
        text-align: center;
        margin: 20px;
        margin-top: 0cm;
    }
    
    #sidebar{
        grid-area: sidebar;
        text-align: center;
        color: black;
   
        margin: 1cm;
        margin-bottom: auto;
    }
    #sidebar2{
        grid-area: sidebar2;
        text-align: center;
        color: black;
     
        margin: 1cm;
        margin-bottom: auto;
    }
    #contenido1{
        grid-area: contenido1;
        margin-top: 1cm;
   
        text-align: center;
        margin-bottom: 1cm;
        color: black;
        font-size: 30px;
        padding: 15px;
        border-bottom: 2px solid rgb(0, 0, 0);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }
    #contenido2{
        grid-area: contenido2;
        margin-top: 1cm;
   
        text-align: center;
        margin-bottom: 1cm;
        color: black;
        font-size: 30px;
        padding: 10px;
        border-bottom: 2px solid rgb(0, 0, 0);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }
    #contenido3{
        grid-area: contenido3;
        margin-top: 1cm;
        text-align: center;
        margin-bottom: 1cm;
        color: black;
        font-size: 50px;
        padding: 10px;
    }

.cabeza{
    margin-bottom: -125px;
}





/*contactanos*/

.formulario{
    margin: 5cm;
    background-color: rgb(76, 80, 83);
    color: white;
    padding: 1cm;
    border-radius: 3cm;
}
.h1contacto{
    background-color: red;
    border-radius:3cm ;
}
/*JUGADORES*/

.jugadores{
    
    margin-left: 3cm;
    margin-top: 6cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}
.jugadores1{
    border: 10px ridge rgb(107, 107, 107);
    margin: 1cm;
    
}
.jugadores1:hover{
    border-radius: 2cm;
    background-image: url(../img/jugadores/adsda.gif);
    background-repeat:repeat;
    background-size: 100% 100%;
    transform: scale(1.1);
    transition-duration: 5s;

    
}

.jg{
    padding: 0;
    margin-left: 1cm;
    margin-right: 1cm;
    background-color: rgb(107, 107, 107);
    color: #ffffff;
   }

.video{
    border-radius: 20px;
}

.imgg2{
    padding-bottom: 1cm;
    border-bottom: 1px solid rgb(107, 107, 107);
}

@media (max-width: 1400px) {
    header nav ul li{
        display: block;
    }}
    
    @media (max-width: 1400px){
        .cabeza{
            display: block;
     
        }
        .jugadores{
            display: block;
        }
        
        .footergrids{
            display: block;
        }
        .containerhome{
            display: block;
        }
  
        .videohistoria{
            display: block;
        }
        #encabezado{
            display: block;
            text-align: center;
            height: auto;
        }
        .imgg2{
            height: auto;
        }
        #sidebar{ 
            display: none;
        }
        #sidebar2{
            display: none;
        }
        #mensajefooter{
            display: none;
        }
        .carrusel{
            padding-bottom: 0%;
            margin-top: -2cms;
        }
        .derechos{
            margin-top: 5%;
            font-size: 10px;
        }
        .redessociales1{
            display: none;
        }
        .titulo{
            display: none;
        }
        .mininoti{
         display: block;
        }
        .formulario{
            margin: 0;
            margin-top: 5cm;
        }
        .escudos{
            margin: 0;
            margin-top: 5cm;
            margin-left: 4cm;
            align-items: center;
        }
        .escudos{
            grid-template-columns: 1fr 1fr !important;
        }
        .jugadores1{
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
    @media (max-width: 948px){
        .escudos{
            display: block;
            margin: 0;
            margin-top: 5cm;
        }
        
     }
    .escudosep{
        margin: 2cm;
        border: 10px ridge rgb(107, 107, 107);
    }
    p{
        padding: 1cm;
    }
    .imgg{
        padding: 10%;
        border-bottom: 1px solid rgb(107, 107, 107);
    }


.carrusel{
    margin-top: 5cm;
    margin-left: 1cm;
    margin-right: 1cm;
    border-bottom: 2px solid rgb(107, 107, 107);
}


li{
    padding-left: 1cm;
    padding-right: 1cm;
    font-family: Arial, Helvetica, sans-serif;} 
    li:hover{
        background-color: red;
        transition-duration: 2s;
        padding-left: 1.5cm;
        padding-right: 1.5cm;
    }



.tituside{
    border-bottom: 2px solid rgb(107, 107, 107);
}

.infoside{
    border-bottom: 1px solid rgb(107, 107, 107);
    margin-bottom: 1cm;
}
.bodyriver{
    display: flex;
    min-height: 100%;
    min-width: 100%;
    background-image: url(../img/bkg_monumental.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-top: 2cm;
}
.fran{
    margin-top: 2cm;
    margin-bottom: -1cm;

}
.formulario2{
    margin-top: 25%;
    margin-bottom: 10%;
    background-color: #646464;
    padding: 2cm;
    border-radius: 2cm;
    margin-right: 1cm;
} 
.footersocios{
    margin-top: -37px;
}

@media (max-width: 1500px){
    .bodyriver{
        background-image: none;
        display: block;
    background-color: #ffffff;
margin-bottom: 0;}
    .fran{
     display: none;
    }
    .formulario2{
        margin-top: 5cm;
    }
    .mininoti{
        display: none !important;
    }
    .footersocios{
        margin: 0;
    }
}
.accordion-button{
    font-size: large;
}
/*HOME*/
h3{

    margin-bottom: 5%;
    border-bottom: 1px solid rgb(0, 0, 0);
} 

h6{
    font-size: 97%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 12cm;
    color: black;
    margin-bottom: 0;
    text-align: start;
    background-color: #646464;    
    padding: 5px;
}
h6:hover{
    color: aliceblue;
}
.mininoti{

    display: flex;
    margin-bottom: 1cm;
margin-left: 14%;
}
.imgmini{
    margin-left: 8%;
    margin-right: -3cm;
}
h5{
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;

}