@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*ENCABEZADO*/
#encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #191919;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
  padding: 30px;
  padding-left: 70px;
  margin: 0;
}

.titulo {
  padding-top: 2cm;
  padding-bottom: 2cm;
  font-size: 50px;
}

h1:hover {
  color: red;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.a9 {
  padding: 5px;
}

.a9:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
}

.accordion-item {
  margin: 1cm;
  margin-left: 1cm;
  margin-right: 1cm;
}

.redessociales1 {
  margin-left: 15%;
  margin-top: 10%;
}

/*MENU*/
.navbar {
  margin: 0cm;
}

/*footer*/
footer {
  height: 100%;
  padding: 0;
  padding-bottom: 0%;
  margin-bottom: 0;
  background-color: #191919;
  color: white;
  font-size: 20px;
}

footer div p {
  font-family: Arial, Helvetica, sans-serif;
}

.footergrids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "info logofooter mensajefooter";
  text-align: center;
}

#info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
  margin-top: 1cm;
}

#logofooter {
  margin-top: 10%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logofooter;
}

#mensajefooter {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: mensajefooter;
  padding-top: 25px;
  margin-right: 1cm;
}

h2 {
  padding: 10px;
}

.derechos {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: #646464;
  margin-bottom: -1cm;
}

footer {
  color: #646464;
}

h2:hover {
  color: white;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

#info:hover {
  color: white;
}

.redessociales {
  margin: 10px;
  margin-left: -1cm;
}

.a99 {
  margin-left: 1cm;
}

.a99:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
}

li {
  padding-left: 1cm;
  padding-right: 1cm;
  font-family: Arial, Helvetica, sans-serif;
}

li:hover {
  background-color: red;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  padding-left: 1.5cm;
  padding-right: 1.5cm;
}

/*contactanos*/
.formulario {
  margin: 5cm;
  background-color: #4c5053;
  color: white;
  padding: 1cm;
  border-radius: 3cm;
}

.h1contacto {
  background-color: red;
  border-radius: 3cm;
}

/*historia*/
.videohistoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2%;
}

.escudos {
  margin-top: 6cm;
  margin-bottom: 1cm;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

div p {
  text-align: auto;
}

.historia {
  border: 5px solid red;
  margin: 60px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.escudosep {
  margin: 2cm;
  border: 10px ridge #6b6b6b;
}

p {
  padding: 0cm;
}

.imgg {
  padding: 10%;
  border-bottom: 1px solid #6b6b6b;
}

/*JUGADORES*/
.jugadores {
  margin-left: 3cm;
  margin-top: 6cm;
  margin-right: 1cm;
  margin-bottom: 1cm;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}

.jugadores1 {
  border: 10px ridge #6b6b6b;
  margin: 1cm;
}

.jugadores1:hover {
  border-radius: 2cm;
  background-image: url(../img/jugadores/adsda.gif);
  background-repeat: repeat;
  background-size: 100% 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
}

.jg {
  padding: 0;
  margin-left: 1cm;
  margin-right: 1cm;
  background-color: #6b6b6b;
  color: #ffffff;
}

.video {
  border-radius: 20px;
}

.imgg2 {
  padding-bottom: 1cm;
  border-bottom: 1px solid #6b6b6b;
}

.bodyriver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  background-image: url(../img/bkg_monumental.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  margin-top: 2cm;
}

.fran {
  margin-top: 2cm;
  margin-bottom: -1cm;
}

.formulario2 {
  margin-top: 25%;
  margin-bottom: 10%;
  background-color: #646464;
  padding: 2cm;
  border-radius: 2cm;
  margin-right: 1cm;
}

.footersocios {
  margin-top: -37px;
}

/*extend*/
.river, .boca {
  border: 10px solid black;
}

.redesss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  padding-left: 200px;
}

.btn--twitter {
  background-color: #55ACEE;
}

.btn--facebook {
  background-color: #3A5795;
}

.btn--instagram {
  background-color: #C25E30;
}

/*mixin*/
.mixin {
  height: 50px;
  width: 100px;
}

.btn--twitter {
  padding: 10px;
  margin-right: 10px;
}

.btn--facebook {
  padding: 10px;
}

.btn--instagram {
  padding: 10px;
}

.carrusel {
  margin-top: 5cm;
  margin-left: 1cm;
  margin-right: 1cm;
  border-bottom: 2px solid #6b6b6b;
}

.imgg2 {
  margin: 2%;
}

.containerhome {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "sidebar contenido1 sidebar2 " "sidebar contenido2 sidebar2" "sidebar contenido3 sidebar2";
  grid-gap: 1px;
  font-weight: 800;
  font-size: 15px;
  color: red;
  text-align: center;
  margin: 20px;
  margin-top: 0cm;
}

#sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: sidebar;
  text-align: center;
  color: black;
  margin: 1cm;
  margin-bottom: auto;
}

#sidebar2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: sidebar2;
  text-align: center;
  color: black;
  margin: 1cm;
  margin-bottom: auto;
}

#contenido1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contenido1;
  margin-top: 1cm;
  text-align: center;
  margin-bottom: 1cm;
  color: black;
  font-size: 30px;
  padding: 15px;
  border-bottom: 2px solid black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#contenido2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: contenido2;
  margin-top: 1cm;
  text-align: center;
  margin-bottom: 1cm;
  color: black;
  font-size: 30px;
  padding: 10px;
  border-bottom: 2px solid black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#contenido3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: contenido3;
  margin-top: 1cm;
  text-align: center;
  margin-bottom: 1cm;
  color: black;
  font-size: 50px;
  padding: 10px;
}

.cabeza {
  margin-bottom: -125px;
}

.tituside {
  border-bottom: 2px solid #6b6b6b;
}

.infoside {
  border-bottom: 1px solid #6b6b6b;
  margin-bottom: 1cm;
}

/*Prodcutos*/
h3 {
  margin-bottom: 5%;
  border-bottom: 1px solid black;
}

h6 {
  font-size: 97%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 12cm;
  color: black;
  margin-bottom: 0;
  text-align: start;
  background-color: #646464;
  padding: 5px;
}

h6:hover {
  color: aliceblue;
}

.mininoti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1cm;
  margin-left: 14%;
}

.imgmini {
  margin-left: 8%;
  margin-right: -3cm;
}

h5 {
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.productos {
  font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
}

.container .card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  -webkit-clip-path: circle(150px at 80% 20%);
          clip-path: circle(150px at 80% 20%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  -webkit-clip-path: circle(300px at 80% -20%);
          clip-path: circle(300px at 80% -20%);
}

.container .card:after {
  content: 'Nike';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: red;
}

.container .card .imgBx {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card:hover .imgBx {
  top: 0%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 270px;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 210px;
}

.container .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover {
  background: #9bdc28;
}

.container .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
  background: #000000;
}

.container .card .contentBx .color span:nth-child(3) {
  background: #ffffff;
}

.container .card .contentBx .color span:nth-child(4) {
  background: red;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px;
}

.venta {
  padding: 10px;
}

.container {
  margin-bottom: 10px;
}

.tituproductos {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 5px solid #646464;
  padding: 1cm;
  margin-left: 4cm;
  margin-right: 4cm;
}

.tituproductos:hover {
  color: #ffffff;
  background-color: #646464;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: #ffffff;
  -webkit-box-shadow: 0 10px 20px -5px white;
          box-shadow: 0 10px 20px -5px white;
  border-radius: 2cm;
  overflow: hidden;
  position: relative;
  width: 500px;
  margin-bottom: 50px;
  margin-top: -50px;
  margin-right: 1cm;
}

.slider::before, .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(#cb0e0e), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #cb0e0e 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

/*MEDIA*/
@media (max-width: 1400px) {
  header nav ul li {
    display: block;
  }
  .container {
    margin-left: 25%;
    margin-right: 25%;
  }
  .venta {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 1400px) {
  .cabeza {
    display: block;
  }
  .jugadores {
    display: block;
  }
  .footergrids {
    display: block;
  }
  .containerhome {
    display: block;
  }
  .videohistoria {
    display: block;
    text-align: center;
  }
  #encabezado {
    display: block;
    text-align: center;
    height: auto;
  }
  .imgg2 {
    height: auto;
  }
  #sidebar {
    display: none;
  }
  #sidebar2 {
    display: none;
  }
  #mensajefooter {
    display: none;
  }
  .carrusel {
    padding-bottom: 0%;
    margin-top: -2cms;
  }
  .derechos {
    margin-top: 5%;
    font-size: 10px;
  }
  .redessociales1 {
    display: none;
  }
  .titulo {
    display: none;
  }
  .mininoti {
    display: block;
  }
  .formulario {
    margin: 0;
    margin-top: 5cm;
  }
  .escudos {
    margin: 0;
    margin-top: 5cm;
    margin-left: 4cm;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .escudos {
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
  }
  .jugadores1 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (max-width: 948px) {
  .escudos {
    display: block;
    margin: 0;
    margin-top: 5cm;
  }
}

@media (max-width: 1500px) {
  .bodyriver {
    background-image: none;
    display: block;
    background-color: #ffffff;
    margin-bottom: 0;
  }
  .fran {
    display: none;
  }
  .formulario2 {
    margin-top: 5cm;
  }
  .mininoti {
    display: none !important;
  }
  .footersocios {
    margin: 0;
  }
  .accordion-button {
    font-size: large;
  }
}

@media (max-width: 1400px) {
  .productos {
    text-align: center !important;
    margin: 0 !important;
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
    margin: 0;
  }
  .video {
    width: 90%;
    height: 20cm;
  }
  .tituproductos {
    margin: 0 !important;
    padding: 0% !important;
  }
  .venta {
    padding: 0;
    margin: 0;
  }
  .redesss {
    display: none;
  }
}

@media (max-width: 814px) {
  .productos {
    text-align: end !important;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .container {
    padding: auto !important;
  }
}

.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--instagram {
  background-color: #c25e30;
}

/*home*/
/*# sourceMappingURL=style.css.map */