.bodyriver{
    display: flex;
    min-height: 100%;
    min-width: 100%;
    background-image: url(../img/bkg_monumental.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-top: 2cm;
}
.fran{
    margin-top: 2cm;
    margin-bottom: -1cm;

}
.formulario2{
    margin-top: 25%;
    margin-bottom: 10%;
    background-color: #646464;
    padding: 2cm;
    border-radius: 2cm;
    margin-right: 1cm;
} 
.footersocios{
    margin-top: -37px;
}