@import "generales";
@import "home";
@import "contacto";
@import "historia";
@import "jugadores";
@import "socios";


/*MEDIA*/




@media (max-width: 1400px) {
    header nav ul li{
        display: block;
    }}
    
    @media (max-width: 1400px){
        .cabeza{
            display: block;
     
        }
        .jugadores{
            display: block;
        }
        
        .footergrids{
            display: block;
        }
        .containerhome{
            display: block;
        }
  
        .videohistoria{
            display: block;
        }
        #encabezado{
            display: block;
            text-align: center;
            height: auto;
        }
        .imgg2{
            height: auto;
        }
        #sidebar{ 
            display: none;
        }
        #sidebar2{
            display: none;
        }
        #mensajefooter{
            display: none;
        }
        .carrusel{
            padding-bottom: 0%;
            margin-top: -2cms;
        }
        .derechos{
            margin-top: 5%;
            font-size: 10px;
        }
        .redessociales1{
            display: none;
        }
        .titulo{
            display: none;
        }
        .mininoti{
         display: block;
        }
        .formulario{
            margin: 0;
            margin-top: 5cm;
        }
        .escudos{
            margin: 0;
            margin-top: 5cm;
            margin-left: 4cm;
            align-items: center;
        }
        .escudos{
            grid-template-columns: 1fr 1fr !important;
        }
        .jugadores1{
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
    @media (max-width: 948px){
        .escudos{
            display: block;
            margin: 0;
            margin-top: 5cm;
        }
        
     }











@media (max-width: 1500px){
    .bodyriver{
        background-image: none;
        display: block;
    background-color: #ffffff;
margin-bottom: 0;}
    .fran{
     display: none;
    }
    .formulario2{
        margin-top: 5cm;
    }
    .mininoti{
        display: none !important;
    }
    .footersocios{
        margin: 0;
    }

.accordion-button{
    font-size: large;
}
}



@media (max-width: 1400px){
.productos{
    text-align: center;
    margin: 0;
    grid-template-columns: 1fr 1fr;
}
.tituproductos{
margin: 0 !important;
padding: 0% !important;
}

.venta{padding: 0;
} 
.container{
padding-left: 25%;
}
}

@media (max-width: 814px){
    .productos{
        text-align: end;
        grid-template-columns: 1fr;
    }
    .container{
        padding: auto;
        }
}
$redes:(
  twitter: #55acee,
  facebook: #3a5795,
  instagram: #c25e30,
);

@each $red, $color in $redes {
  .btn--#{$red}{
      background-color: $color;
  }
}